.SwiperContainer{

    /* border: 2px solid red; */
    height: 100%;
    padding: 1vmax !important;
    background-color: #23262E;

}

.Slide{
    background-color: rgba(57, 61, 72,0.5);
    color: white;
    /* border: 2px solid green; */
    border-radius: 1vmax 0.5vmax 1vmax 0.5vmax;
    transition: all 0.3s ease-in-out;
}

.slides:hover{
    transform: translateY(-0.5vmax) !important;
    box-shadow: 0 0 10px #184C9C ;
    cursor: pointer;
}

.active{
    background: linear-gradient(#3E85F3,#184C9C);
}





/* Usercard */

.userCard{
    display: flex;
    padding: 1vmax;
  

}

.userCard div{
    /* border: 2px solid red; */
    padding: 1vmax 0 0 1vmax;
    width: 100%;
}

.userCard img{
    width: 20%;
    border-radius: 0.5vmax;
}